{%extends "base.html"%}
{%block title%}Register{%endblock%}
{%block header-title%}Register{%endblock%}
{%block navigation%}{%include 'includes/login_menu.html'%}{%endblock%}
{%block content%}
    <div  class="caption bottom-0" style="height: 900px;">
        <div class="caption-center">
            <div class="left-50 right-50 top-50" id="content">

                <h1 class="center-text uppercase bold fa-2x">Register</h1>
                <p class="center-text font-11 under-heading bottom-30 color-highlight">
                    Let's get you registered.its free.
                </p>
                <form id="registerForm" method="post">
                    <div class="input-style input-style-2 has-icon input-required">
                        <i class="input-icon fa fa-user font-11"></i>
                        <span>Name</span>
                        <em>(required)</em>
                        {{form.first_name}}
                    </div>

                    <div class="input-style input-style-2 has-icon input-required">
                        <i class="input-icon fa fa-user font-11"></i>
                        <span>Surname</span>
                        <em>(required)</em>
                        {{form.surname}}
                    </div>

                    <div class="input-style has-icon input-style-2 input-required">
                        <i class="input-icon fa fa-user font-11"></i>
                        <span>Other Name</span>
                        <em></em>
                        {{form.last_name}}
                    </div>

                    <div class="input-style has-icon input-style-2 input-required">
                        <i class="input-icon fa fa-shop font-11"></i>
                        <span>Business Name</span>
                        <em>(required)</em>
                        {{form.business_name}}
                    </div>

                    <em id="mobileValidationMessage" class="d-none input-error">Phone number incomplete</em>
                    <div class="input-style has-icon input-style-2 input-required">
                        <i class="input-icon fa fa-mobile font-11"></i>
                        <span>Mobile Number</span>
                        <em>(required)</em>
                        {{form.mobile_number}}
                    </div>


                    <div class="input-style has-icon input-style-2 input-required">
                        <i class="input-icon fa fa-at font-11"></i>
                        <span>Email</span>
                        <em>(required)</em>
                        {{form.email_address}}
                    </div>

                    <div class="input-style has-icon input-style-2 input-required">
                        <i class="input-icon fa fa-book font-11"></i>
                        <span>Address</span>
                        <em>(required)</em>
                        {{form.address}}
                    </div>

                    <select name="state" id="id_state" style="width: 100%; height: 50px; line-height: 50px;">
                          <option value="Adamawa">Adamawa</option>

                          <option value="AkwaIbom">AkwaIbom</option>

                          <option value="Abia">Abia</option>

                          <option value="Anambra">Anambra</option>

                          <option value="Bauchi">Bauchi</option>

                          <option value="Bayelsa">Bauchi</option>

                          <option value="Benue">Benue</option>

                          <option value="Borno">Borno</option>

                          <option value="CrossRiver">CrossRiver</option>

                          <option value="Delta">Delta</option>

                          <option value="Edo">Edo</option>

                          <option value="Ekiti">Ekiti</option>

                          <option value="Enugu">Enugu</option>

                          <option value="Ebonyi">Ebonyi</option>

                          <option value="FCT">FCT</option>

                          <option value="Gombe">Gombe</option>

                          <option value="Imo">Imo</option>

                          <option value="Jigawa">Jigawa</option>

                          <option value="Kano">Kano</option>

                          <option value="Kaduna">Kaduna</option>

                          <option value="Katsina">Katsina</option>

                          <option value="Kebbi">Kebbi</option>

                          <option value="Kogi">Kogi</option>

                          <option value="Kwara">Kwara</option>

                          <option value="Lagos">Lagos</option>

                          <option value="Nasarawa">Nasarawa</option>

                          <option value="Niger">Niger</option>

                          <option value="Ogun">Ogun</option>

                          <option value="Ondo">Ondo</option>

                          <option value="Osun">Osun</option>

                          <option value="Oyo">Oyo</option>

                          <option value="Plateau">Plateau</option>

                          <option value="Rivers">Rivers</option>

                          <option value="Sokoto">Sokoto</option>

                          <option value="Taraba">Taraba</option>

                          <option value="Yobe">Yobe</option>

                          <option value="Zamfara">Zamfara</option>

                        </select>
<!--                    <div class="input-style input-style-2 input-required">-->
<!--                        <span>State</span>-->
<!--                        <em>(required)</em>-->
<!--                    </div>-->
                </form>
                <div class="clear"></div>
                <a href="#" id="registerBtn" class="button button-full button-m shadow-large button-round-small bg-green1-dark top-30 bottom-0">Register</a>
            </div>
        </div>
    </div>
{%endblock%}
{%block scripts%}
    <script type="text/javascript" src="/static/agent/scripts/pages/agent_registration.js" async></script>
{%endblock%}