.grouping {
    padding: 1em;
    }

.grouping legend {
  padding: 0.2em 0.5em;
  font-size:15px;
  text-align:right;
  }

.grouping-default{
    border:1px solid;
    color: #000;
}

.grouping-transfer{
    border:1px solid green;
    color:green;
}

.grouping-withdrawal{
    border:1px solid blue;
    color:blue;
}

.grouping-bill{
    border:1px solid red;
    color:red;
}


table td {
    font-size: 1.1rem;
    font-weight: 300;
}

/*.kt-header--fixed .kt-header {*/
/*    z-index: 100 !important;*/
/*}*/

/*.kt-header--fixed.kt-subheader--fixed .kt-subheader {*/
/*    z-index: 100 !important;*/
/*}*/

.datepicker {
    z-index: 1051 !important;
}

#notifier {
    z-index: 1051;
    position: absolute;
    right: -30%;
    top: 2%;
    background: #5ccab7;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

#notifier button {
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    outline: 0;
    background: #5ccab7;
    float: right;
}

#notifier div {
    width: 300px;
}

#notifier p{
    margin: 0;
    font-weight: 600;
    text-align: center;
}

@keyframes slide-in {
    from{
        right: -30%;
        opacity: 0;
    }
    to{
        right: 10%;
        opacity: 1;
    }
}

@keyframes slide-out {
    from{
        right: 10%;
        opacity: 1;
    }
    to{
        right: -30%;
        opacity: 0;
    }
}

.custom-btn {
    height: 25px; 
    width: 25px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 0;
}

.custom-btn i {
    padding: 0;
    font-size: 12px !important;
}

.modal-content{
    height: 750px;
    overflow-y: scroll;
}